.slide {
  display: relative;
  width: 300px;
  height: 400px;
  border-radius: 50px;
}

.slide-prev {
  rotate: -8deg;
  transition: 1s;
  transform: translateY(200px) translateX(-30px);
}

.slide-content {
  transition: 1s;
  background-color: salmon;
  transform: translateY(100px);
}

.slide-next {
  transition: 1s;
  transform: translateX(30px);
  rotate: 8deg;
  background-color: aqua;
}
