#dots span {
  animation-name: dots;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  animation-delay: 0s;
}

@keyframes dots {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}
